__pycache__/

# Week 5 data and results folders (large sequencing files)
week5/data/
week5/results/

# Week 6 data
.venv312
.vscode
week6/data/

# Project
project/**/*.so
project/**/*.o
project/scanpy-main/tests/_images
project/scanpy-main/tests/notebooks
project/docs
project/temp.md
*.h5ad
project/scancodon/scancodon_native.dylib
project/scancodon/scancodon_native.dylib
project/scancodon/scancodon_native.dylib
project/scancodon/src/scanpy/.DS_Store
project/scanpy-main/data/pbmc_10k_v3_filtered_feature_bc_matrix.h5
