__pycache__/

# Week 5 data and results folders (large sequencing files)
week5/data/
week5/results/

# Week 6 data
.venv312
.vscode
week6/data/

# Project
project/scanpy-main/tests/_images
project/scanpy-main/tests/notebooks
project/temp.md